<div class="event-holder">
  <h2 style="margin-bottom: 10px !important"><%= heading %></h2>
  <div class="slick-carousel">
    <% events.each do |event|  %>
      <% if @resource.name != event.name %>
      <a href="<%= event.url %>" data-type="inbound-link" class="preview">
        <div class="preview-inner">
          <div>
            <h4><%= event.name %></h4><span><%= event.category %></span>
          </div>
          <p><%= event.time_str %><br/><%= event.location_name %>, <%= event.city %></p>
        </div>
        <img class="lazy" src="<%= url_for(event.images_thumbnail) unless !event.images_thumbnail.attached? %>" alt="<%= event.name %>">
      </a>
      <% end %>
    <% end %>
    
  </div>
</div>