<div class="event-holder">
  <h2 style="margin-bottom: 10px !important"><%= heading %></h2>
  <div class="slick-carousel">
    <% events.each do |event|  %>
      <% if @resource.name != event.name %>
      <a href="<%= event.url %>" data-type="inbound-link" class="preview">
        <div class="preview-inner">
          <div>
            <h4><%= event.name %></h4>
          </div>
          <p><%= event.time_str %><br/><%= event.location_name %>, <%= event.city %></p>
        </div>
        <figure class="blur-img-event">
          <img src="<%= url_for(event.images.first.variant(resize: "59.5x35")) %>" alt="<%= event.images.first.filename %> Placeholder" class="small-img">
          <img data-src="<%= url_for(event.images.first.variant(resize: "225x132")) %>" data-src-retina="<%= url_for(event.images.first.variant(resize: "450x265")) %>" alt="<%= event.images.first.filename %>" class="big-img" onload="$(this).parent().addClass('loaded');">
        </figure>
      </a>
      <% end %>
    <% end %>
    
  </div>
</div>
