<nav class="radr-navbar"> 
  <span class="centered"><%= @header %> fertigstellen</span>  
  <a href="/" style="position: absolute; right: 20px;" class="btn btn-primary">Fertig</a>
</nav>

<div class="done-container-top">
  <img src="/images/Done.png" alt="Veranstaltung wurde erstellt">
  <h2>Ihre Veranstaltung wurde erfolgreich erstellt.</h2>
  <div class="done-share">
    <a id="qr-code">
      <img src="/images/QR-Code.png" alt="QR-Code downloaden">
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= ENV['ROOT_URL'] %><%= @resource.url %>?f=fb_share" target="_blank">
      <img src="/images/FacebookBubble.png" alt="Facebook">
    </a>
    <a onclick="shareThis('<%= @resource.name %>', '', '<%= ENV['ROOT_URL'] %><%= @resource.url %>')">
      <img src="/images/ShareBubble.png" alt="Share">
    </a>
  </div>
</div>
<div class="fertigstellen-iframe">
<iframe src="<%= @resource.url %>" frameborder="0" id="iframe" scrolling="auto"></iframe>
  <img src="/images/pull-up.svg" alt="Pull Up" onclick="toggleIframe()" id="pull-up">
</div>
<img src="/images/radr-logo-new.png" id="radr-logo" style="display: none;" width="400px" height="400px">

<script>
  $('body').addClass('fertigstellen');
  if(navigator.userAgent.includes('iPhone')) {
    $('.fertigstellen-iframe').addClass('iphone');
  }
  
  var sensibility = 50,
      wheelUp = 0,
      wheelDown = 0;
  $(window).bind('mousewheel', function(e){
    
        if(e.originalEvent.wheelDelta / 120 > 0) {
            wheelUp ++;
        }
        else{
            wheelDown ++;
        }
    
        if(wheelDown >= sensibility) {
          $('.fertigstellen-iframe').addClass('active');
          var x = 0,
              y = false;
          $('#iframe').contents().bind('mousewheel', function(e){   
            if($(this).scrollTop() <= 5) {
              y = true;
            }
            if(e.originalEvent.wheelDelta / 120 > 0) {
              x++;
              if(x >= sensibility / 2 && $(this).scrollTop() == 0 && y){
                $('.fertigstellen-iframe').removeClass('active');
                $('#iframe').contents().scrollTop(0);
                wheelUp = 0;
                x = 0;
              }
            }
          });
          wheelDown = 0; 
        }
    });
  var button = true;
  $(document).scroll(function(){
    var scroll = $(this).scrollTop();        
    if(scroll > 50 && navigator.userAgent.includes('iPhone' || 'Android') && button) {      
      window.location.replace('<%= @resource.url %>?from=' + window.location.href);
      button = false;
    }
  });      
      
</script>
<script src="https://cdn.jsdelivr.net/npm/kjua@0.5.0/dist/kjua.min.js"></script>
<script>

  function toggleIframe() {
    if(navigator.userAgent.includes('iPhone' || 'Android')) {
      window.location.replace('<%= @resource.url %>?from=' + window.location.href);
    } else {
      $('.fertigstellen-iframe').toggleClass('active');
      $('#iframe').contents().scrollTop(0);
    }    
  }
  
  $(document).ready(function(){
    
    var img = document.getElementById('radr-logo'),
        el = kjua({
            // render method: 'canvas' or 'image'
            render: 'image',

            // render pixel-perfect lines
            crisp: true,

            // minimum version: 1..40
            minVersion: 5,

            // error correction level: 'L', 'M', 'Q' or 'H'
            ecLevel: 'H',

            // size in pixel
            size: 400,

            // pixel-ratio, null for devicePixelRatio
            ratio: null,

            // code color
            fill: '#1A1933',

            // background color
            back: '#fff',

            // content
            text: 'https://<%= ENV['ROOT_URL'] %><%= @resource.url %>',

            // roundend corners in pc: 0..100
            rounded: 100,

            // quiet zone in modules
            quiet: 0,

            // modes: 'plain', 'label' or 'image'
            mode: 'image',

            // label/image size and pos in pc: 0..100
            mSize: 30,
            mPosX: 50,
            mPosY: 50,

            // image element
            image: img
    });
    $('#qr-code').attr('href', el.src)
    $('#qr-code').attr('download', 'qr-code');
  });  
  
  function shareThis(title, text, url) {
    if(!navigator.share) {
      shareDefault();
    } else {
      shareNative(title, text, url);
    }
  }
  
  function shareDefault(){
      $('#facebookshare').attr('href', 'https://www.facebook.com/sharer/sharer.php?u=<%= ENV['ROOT_URL'] %><%= @resource.url %>?f=fb_share');
      $('#messengershare').attr('href', 'fb-messenger://share/?link=<%= ENV['ROOT_URL'] %><%= @resource.url %>?f=ms_share');
      $('#twittershare').attr('href', 'https://twitter.com/share?text=<%= ENV['ROOT_URL'] %><%= @resource.url %> + "?f=tw_share');
      $('#whatsappshare').attr('href', 'whatsapp://send/?text=<%= ENV['ROOT_URL'] %><%= @resource.url %>?f=wa_share');
                               
      $('.share-default').addClass('active');
      setTimeout(function(){
        $('.share-default-container').addClass('active');
      }, 50);
    }
    
    function closeShareDefault(){
      
      $('.share-default-container').removeClass('active');
      setTimeout(function(){
        $('.share-default').removeClass('active');
      }, 500);
    }

</script>