<nav class="radr-navbar"> 
  <span class="centered"><%= @header %> fertigstellen</span>  
  <a href="/" style="position: absolute; right: 20px;" class="btn btn-primary">Fertig</a>
</nav>

<div class="done-container-top">
  <img src="/images/Done.png" alt="Veranstaltung wurde erstellt">
  <h2>Ihre Veranstaltung wurde erfolgreich erstellt.</h2>
  <div class="done-share">
    <a onclick="downloadQR(<%= @resource.url %>)">
      <img src="/images/QR-Code.png" alt="QR-Code downloaden">
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= ENV['ROOT_URL'] %><%= @resource.url %>?f=fb_share" target="_blank">
      <img src="/images/FacebookBubble.png" alt="Facebook">
    </a>
    <a onclick="shareThis('<%= @resource.name %>', '', '<%= ENV['ROOT_URL'] %><%= @resource.url %>')">
      <img src="/images/ShareBubble.png" alt="Share">
    </a>
  </div>
</div>
<div class="fertigstellen-iframe">
<iframe src="https://<%= ENV['ROOT_URL'] %><%= @resource.url %>" frameborder="0" id="iframe" scrolling="auto"></iframe>
  <img src="/images/pull-up.svg" alt="Pull Up" onclick="toggleIframe()" id="pull-up">
</div>
<div class="share-default">
  <div class="share-default-container">
    <div class="share-default-head">
      <h3>Seite teilen</h3>
    </div>
    <a href="" id="facebookshare" class="sharebutton" target="_blank"><div><img src="/images/facebook.svg" alt="Facebook" target="_blank"></div> Auf Facebook teilen</a>
    <a href="" id="messengershare" class="sharebutton"><div><img src="/images/messenger.svg" alt="Messenger" target="_blank"></div> Im Messenger teilen</a>
    <a href="" id="twittershare" class="sharebutton"><div><img src="/images/twitter.svg" alt="Twitter" target="_blank"></div> Auf Twitter teilen</a>
    <a href="" id="whatsappshare" class="sharebutton"><div><img src="/images/whatsapp.svg" alt="Whatsapp" target="_blank"></div> Auf Whatsapp teilen</a>
    <a onclick="copyToClipboard()" id="linkshare" class="sharebutton"><div><img src="/images/share.svg" alt="Link kopieren"></div> Link kopieren</a>
    <a onclick="closeShareDefault()" class="closeshare">Abbrechen</a>
  </div>
</div>
<script>
  $('body').addClass('fertigstellen');
  if(navigator.userAgent.includes('iPhone')) {
    $('.fertigstellen-iframe').addClass('iphone');
  }
  
  var sensibility = 50,
      wheelUp = 0,
      wheelDown = 0;
  $(window).bind('mousewheel', function(e){
    
        if(e.originalEvent.wheelDelta / 120 > 0) {
            wheelUp ++;
        }
        else{
            wheelDown ++;
        }
    
        if(wheelDown >= sensibility) {
          $('.fertigstellen-iframe').addClass('active');
          var x = 0,
              y = false;
          $('#iframe').contents().bind('mousewheel', function(e){   
            if($(this).scrollTop() <= 5) {
              y = true;
            }
            if(e.originalEvent.wheelDelta / 120 > 0) {
              x++;
              if(x >= sensibility / 2 && $(this).scrollTop() == 0 && y){
                $('.fertigstellen-iframe').removeClass('active');
                $('#iframe').contents().scrollTop(0);
                wheelUp = 0;
                x = 0;
              }
            }
          });
          wheelDown = 0; 
        }
    });
  var button = true;
  $(document).scroll(function(){
    var scroll = $(this).scrollTop();        
    if(scroll > 50 && navigator.userAgent.includes('iPhone' || 'Android') && button) {      
      window.location.replace('https://<%= ENV['ROOT_URL'] %><%= @resource.url %>');
      button = false;
    }
  });      
      
</script>
<script>

  function toggleIframe() {
    if(navigator.userAgent.includes('iPhone' || 'Android')) {
      window.open('https://<%= ENV['ROOT_URL'] %><%= @resource.url %>', '_blank');
    } else {
      $('.fertigstellen-iframe').toggleClass('active');
      $('#iframe').contents().scrollTop(0);
    }    
  }
  
  function downloadQR(url) {
    
  }  
  
  function shareThis(title, text, url) {
    if(!navigator.share) {
      shareDefault();
    } else {
      shareNative(title, text, url);
    }
  }
  
  function shareDefault(){
      $('#facebookshare').attr('href', 'https://www.facebook.com/sharer/sharer.php?u=<%= ENV['ROOT_URL'] %><%= @resource.url %>?f=fb_share');
      $('#messengershare').attr('href', 'fb-messenger://share/?link=<%= ENV['ROOT_URL'] %><%= @resource.url %>?f=ms_share');
      $('#twittershare').attr('href', 'https://twitter.com/share?text=<%= ENV['ROOT_URL'] %><%= @resource.url %> + "?f=tw_share');
      $('#whatsappshare').attr('href', 'whatsapp://send/?text=<%= ENV['ROOT_URL'] %><%= @resource.url %>?f=wa_share');
                               
      $('.share-default').addClass('active');
      setTimeout(function(){
        $('.share-default-container').addClass('active');
      }, 50);
    }
    
    function closeShareDefault(){
      
      $('.share-default-container').removeClass('active');
      setTimeout(function(){
        $('.share-default').removeClass('active');
      }, 500);
    }

</script>