<%= render 'dashboard/shared/header3', header: 'Neue Location' %>
<div class="container">
  <div class="form-accordion">
    <div id="accordion1" class="accordion-inner active">
      <div class="accordion-header">
        <span class="point">          
          <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <circle fill="currentColor" cx="10" cy="10" r="10"></circle>
              <text font-family="hero-new" font-size="14" font-weight="400" fill="#FFFFFF">
                  <tspan x="6.766" y="15">1</tspan>
              </text>
            </g>
          </svg>
        </span>
        <h2>Name, Kategorie & Adresse</h2>
      </div>
      <div class="accordion-body">
        <form id="form1">
          <div class="form-group">
            <label for="locationname">Name</label>
            <input type="text" class="form-control" name="locationname" id="locationname" aria-describedby="locationHelp" placeholder="Locationname" required>
            <small id="locationHelp" class="form-text text-muted">Der Name Ihres Veranstaltungsort.</small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="berechtigung" name="berechtigung" style="margin: 4px -20px 0;" required>
            <label class="form-check-label" for="berechtigung">
              Hiermit bestätige Ich, dass ich dazu berechtigt bin diesen Veranstaltungsort zu representieren. 
            </label>
          </div>
          <div class="form-group">
            <label for="category">Kategorie</label>
            <select class="form-control" id="category" name="category" aria-describedby="categoryHelp" >
              <% Location.categories.each do |category| %>
              <option val="<%= category %>"><%= category %></option>
              <% end %>
            </select>
            <small id="categoryHelp" class="form-text text-muted">Wählen Sie die nächstbeste Kategorie aus.</small>
          </div>
          <div class="form-group">
            <label for="address-lookup">Adresse</label>
            <input type="text" class="form-control" id="address-lookup" aria-describedby="addressHelp" placeholder="Adresse">
            <small id="addressHelp" class="form-text text-muted">Geben Sie Ihre Adresse ein und klicken Sie auf die genaue Adresse im Dropdown</small>
            <div style="display: none">
              Latitude:   <input name="lat" type="text" value="">
              Longitude:  <input name="lng" type="text" value="">
              Address:    <input name="formatted_address" type="text" value="">
              Locality:   <input name="locality" type="text" value="">
              Street:     <input name="route" type="text" value="">
              Streetnr:   <input name="street_number" type="text" id="street_number" value="">
              PLZ:        <input name="postal_code" type="text" value="">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="accordion2" class="accordion-inner">
      <div class="accordion-header">
        <span class="point">          
          <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <circle fill="currentColor" cx="10" cy="10" r="10"></circle>
              <text font-family="hero-new" font-size="14" font-weight="400" fill="#FFFFFF">
                  <tspan x="6.766" y="15">2</tspan>
              </text>
            </g>
          </svg>
        </span>
        <h2>Bilder hochladen</h2>
      </div>
      <div class="accordion-body">
        <div class="accordion-body" id="imageupload">
          <div class="dropzone" id="myDropzone"></div>
          <small>Durch klick auf den grauen Bereich können Sie weitere Bilder hinzufügen.</small>
        </div>
      </div>
    </div>
    <div id="accordion3" class="accordion-inner">
      <div class="accordion-header">
        <span class="point">          
          <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <circle fill="currentColor" cx="10" cy="10" r="10"></circle>
              <text font-family="hero-new" font-size="14" font-weight="400" fill="#FFFFFF">
                  <tspan x="6.766" y="15">3</tspan>
              </text>
            </g>
          </svg>
        </span>
        <h2>Beschreibung & Öffnungszeiten</h2>
      </div>
      <div class="accordion-body">
        <%= form_for(Location.find(1), :html => {role: "form", id: "form3"}, url: create_location3_url(Location.find(1))) do |f| %>
          <div class="form-group">
            <label for="description">Beschreibung</label>
            <textarea class="form-control" id="description" aria-describedby="descriptionHelp" name="description" rows="3"></textarea>
            <small id="descriptionHelp" class="form-text text-muted">Tragen Sie hier weitere Informationen zu Ihrer Location ein</small>
          </div>
          <label for="opening_hours" style="margin-bottom: 10px">Öffnungszeiten</label>
          <textarea type="text" name="opening_hours" id="opening_hours" hidden></textarea>
        <% end %>
        <div class="form-group" id="business-hours"></div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <a href='' class="footer-link" id="button1">Weiter</a> 
  <a href='' class="footer-link" id="button2" style="display: none;">Weiter</a>
  <a href='' class="footer-link" id="button3" style="display: none;">Weiter</a>
  <a href='/' class="footer-link" id="button4" style="display: none;">Fertigstellen</a>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNAXfMrJDNWqcq8bW6OhWgZd6XUi-F1UI&libraries=places"></script>
<script src="/jquery.geocomplete.min.js"></script>
<script>
  $(function () {
    $('#address-lookup').geocomplete({ details: "form" }).bind("geocode:result", function(event, result){
      console.log(result);
      if($('#street_number').val() !== "") {
        $('#address-lookup').removeClass('is-invalid');
        $('#address-lookup').addClass('is-valid');
        console.log($('#street_number').val());
      } else {
        $('#address-lookup').removeClass('is-valid');
        $('#address-lookup').addClass('is-invalid');
        console.log($('#street_number').val());
      };
    });
  });
</script>
<script src="/jquery.timepicker.js"></script>
<!-- JQuery Business Hours -->
<script src="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
<script src="/jquery.businessHours.min.js"></script>
<!-- Dropzone JS -->
<script src="https://unpkg.com/dropzone"></script>
<script src="https://unpkg.com/cropperjs"></script>
<script>
  var location_id = 0;
      Dropzone.options.myDropzone = {
       url: '/location/4/add_images',
       transformFile: function(file, done) {
        // Create Dropzone reference for use in confirm button click handler
        var myDropZone = this;
        // Create the image editor overlay
        var editor = document.createElement('div');
        editor.style.position = 'fixed';
        editor.style.left = 0;
        editor.style.right = 0;
        editor.style.top = 0;
        editor.style.bottom = 0;
        editor.style.zIndex = 9999;
        editor.style.backgroundColor = '#000';
        document.body.appendChild(editor);
        // Create confirm button at the top left of the viewport
        var buttonConfirm = document.createElement('button');
        buttonConfirm.className = 'btn btn-primary';
        buttonConfirm.style.position = 'absolute';
        buttonConfirm.style.right = '10px';
        buttonConfirm.style.top = '10px';
        buttonConfirm.style.zIndex = 9999;
        buttonConfirm.textContent = 'Confirm';
        editor.appendChild(buttonConfirm);
        buttonConfirm.addEventListener('click', function() {
          // Get the canvas with image data from Cropper.js
          var canvas = cropper.getCroppedCanvas({
            maxWidth: 1500,
            maxHeight: 880
          });
          // Turn the canvas into a Blob (file object without a name)
          canvas.toBlob(function(blob) {
            // Create a new Dropzone file thumbnail
            myDropZone.createThumbnail(
              blob,
              myDropZone.options.thumbnailWidth,
              myDropZone.options.thumbnailHeight,
              myDropZone.options.thumbnailMethod,
              false, 
              function(dataURL) {

                // Update the Dropzone file thumbnail
                myDropZone.emit('thumbnail', file, dataURL);
                // Return the file to Dropzone
                done(blob);
            });
          });
          // Remove the editor from the view
          document.body.removeChild(editor);
        });
        // Create an image node for Cropper.js
        var image = new Image();
        image.src = URL.createObjectURL(file);
        editor.appendChild(image);

      // Create Cropper.js
      var cropper = new Cropper(image, { aspectRatio: 1.7 });
    },
        init: function() {
        this.on("processing", function(file) {
          this.options.url = 'location/' + location_id + '/add_images';
        });
      }

    };

    $('.dz-default').html('Dateien nach hier ziehen oder klicken zum hochladen');  

</script>
<!-- Step 1 -->
<script>
  $('#button1').on('click', function(event){
    event.preventDefault();
    $.ajax({
                  type: 'POST',
                  url: '/location/create',
                  data: $("#form1").serialize(),
                  error: function(){
                    // Es ist ein Fehler aufgetretten Meldung einfügen.
                  }	
                });
 });
  
 $('#button2').on('click', function(event){
    event.preventDefault();
    $('#form2').submit();
    $('#button2').remove();
    $('#button3').css('display', 'block');
    $("#accordion2").removeClass('active').addClass('done');
    $("#accordion3").addClass('active');

 });
  
  $('#button3').on('click', function(event){
    event.preventDefault();
    $('#form3').submit();
    $('.container').html("<%= j(render 'shared/done') %>");
    $('#button3').remove();
    $('#button4').css('display', 'block'); 
 });
  
  $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            $('#form2').ajaxForm();
            $('#form3').ajaxForm();
        });
</script>
<!-- The template to display files available for upload -->
<script src="/jquery.form.min.js"></script>