<%= render 'dashboard/shared/header3', header: 'Link teilen' %>
<div class="container">
  <div class="share-card">
    <img src="<%= url_for(@resource.images.first) %>" alt="">
      <div class="share-card-inner">
        <h3><%= @resource.name %></h3>
        <span><%= @resource.time_str %>, <%= @resource.location.locality %></span>
      </div> 
  </div>  
</div>
<div class="share-footer">
  <div class="share-footer-top">
    <a href="https://www.facebook.com/sharer.php?u=<%= ENV['ROOT_URL'] %><%= @resource.url.html_safe %>" target="_blank" class="share-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <g fill-rule="evenodd">
            <path fill="currentColor" fill-rule="nonzero" d="M17.4759184,7.70889796 L13.7314286,7.70889796 L13.7314286,5.25306122 C13.7314286,4.33077551 14.3426939,4.1157551 14.7732245,4.1157551 C15.2027755,4.1157551 17.4156735,4.1157551 17.4156735,4.1157551 L17.4156735,0.0612244898 L13.7764898,0.0470204082 C9.73665306,0.0470204082 8.81730612,3.07102041 8.81730612,5.00620408 L8.81730612,7.70889796 L6.48097959,7.70889796 L6.48097959,11.8868571 L8.81730612,11.8868571 C8.81730612,17.2486531 8.81730612,23.7090612 8.81730612,23.7090612 L13.7314286,23.7090612 C13.7314286,23.7090612 13.7314286,17.1849796 13.7314286,11.8868571 L17.0473469,11.8868571 L17.4759184,7.70889796 Z"/>
          </g>
        </svg>
    </a>
    <a href="whatsapp://send?text=<%= ENV['ROOT_URL'] %><%= @resource.url.html_safe %>" target="_blank" class="share-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
          <g fill-rule="evenodd" fill="currentColor" transform="translate(.39 .39)">
            <path d="M23.9947171,11.3953795 C23.8362316,5.07458746 18.6273388,0 12.2192384,0 C5.88509795,0 0.723750825,4.95841584 0.44375963,11.1788779 C0.438476777,11.3478548 0.433193925,11.5221122 0.433193925,11.6910891 C0.433193925,13.9036304 1.0512877,15.9630363 2.1237068,17.7267327 L0,24 L6.52432313,21.9247525 C8.21483601,22.8488449 10.153643,23.3821782 12.2192384,23.3821782 C18.727713,23.3821782 24,18.1491749 24,11.6910891 C24,11.5907591 24,11.490429 23.9947171,11.3953795 Z M12.2192384,21.5181518 L12.2192384,21.5181518 C10.2064715,21.5181518 8.33634162,20.9214521 6.76733436,19.8917492 L2.96368039,21.1009901 L4.19458508,17.4521452 C3.01122606,15.8310231 2.30860665,13.840264 2.30860665,11.6910891 C2.30860665,11.3689769 2.32445521,11.0521452 2.36143517,10.7353135 C2.84745763,5.76105611 7.08430552,1.8640264 12.2192384,1.8640264 C17.4175655,1.8640264 21.6966762,5.86138614 22.0928902,10.9254125 C22.1140216,11.1788779 22.1245873,11.4323432 22.1245873,11.6910891 C22.1245873,17.1089109 17.6764253,21.5181518 12.2192384,21.5181518 Z"/>
            <path d="M17.6183139,14.0514851 C17.327757,13.9089109 15.9066696,13.2118812 15.642527,13.1168317 C15.3783843,13.0217822 15.1829188,12.9742574 14.9927361,13.2646865 C14.7972705,13.549835 14.242571,14.1940594 14.0788026,14.3788779 C13.9044684,14.5742574 13.7407,14.5953795 13.4501431,14.4528053 C13.1595862,14.310231 12.2298041,14.0145215 11.1256879,13.0323432 C10.2698657,12.2772277 9.68346907,11.3372937 9.51970064,11.0521452 C9.3559322,10.7669967 9.50385208,10.6085809 9.6464891,10.4660066 C9.77856042,10.3339934 9.93176315,10.1280528 10.0849659,9.96435644 C10.1219459,9.91683168 10.153643,9.86930693 10.1853401,9.82706271 C10.2540172,9.72145215 10.3015628,9.62112211 10.3702399,9.48382838 C10.4706141,9.29372937 10.4177856,9.12475248 10.3491085,8.98217822 C10.2751486,8.83960396 9.69931763,7.42970297 9.45630641,6.85412541 C9.21857803,6.28382838 8.97556681,6.37887789 8.80123267,6.37887789 C8.63746423,6.37887789 8.44199868,6.35247525 8.25181598,6.35247525 C8.05635043,6.35247525 7.74466212,6.42640264 7.48051948,6.71155116 C7.21637684,6.99669967 6.47149461,7.69372937 6.47149461,9.10363036 C6.47149461,9.43630363 6.52960599,9.76369637 6.61941448,10.0805281 C6.90997138,11.0891089 7.53863086,11.9234323 7.64957077,12.0660066 C7.79220779,12.2508251 9.6464891,15.239604 12.5837552,16.3960396 C15.5210214,17.5366337 15.5210214,17.1564356 16.0493066,17.1036304 C16.5828748,17.0613861 17.7609509,16.4171617 17.9986793,15.7412541 C18.2416905,15.0759076 18.2416905,14.50033 18.1677306,14.3788779 C18.0990535,14.2679868 17.9035879,14.1940594 17.6183139,14.0514851 Z"/>
          </g>
        </svg>
    </a>
    <a href="http://www.twitter.com/share?url=<%= ENV['ROOT_URL'] %><%= @resource.url.html_safe %>" target="_blank" class="share-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 25 20">
        <path fill="currentColor" d="M24.574,2.63475099 C23.6917151,3.02693173 22.7421993,3.29147104 21.745914,3.40985604 C22.763148,2.80087973 23.5431249,1.83626125 23.9109466,0.685539614 C22.959482,1.25018245 21.9061966,1.65990171 20.7842186,1.88108191 C19.8863439,0.924258328 18.6065193,0.326 17.190284,0.326 C14.4713266,0.326 12.2668323,2.53049425 12.2668323,5.24993886 C12.2668323,5.63529907 12.3101915,6.01091566 12.3944738,6.37191681 C8.30215297,6.16632641 4.67362852,4.20639705 2.245031,1.22728494 C1.82118348,1.95415906 1.57856732,2.79990537 1.57856732,3.70313903 C1.57856732,5.41119579 2.44769831,6.91853395 3.76893332,7.80130601 C2.9621615,7.77548542 2.20264625,7.55381804 1.53861848,7.18502198 C1.5381313,7.20548359 1.5381313,7.22643237 1.5381313,7.24738116 C1.5381313,9.63261957 3.23547007,11.622267 5.48819524,12.0753454 C5.07506571,12.187397 4.64001303,12.2478074 4.19083211,12.2478074 C3.87319006,12.2478074 3.56480446,12.217115 3.26421375,12.1591405 C3.89121576,14.1151724 5.70937543,15.5392026 7.86369003,15.5786643 C6.17853078,16.8994121 4.05588295,17.6866967 1.74859351,17.6866967 C1.35154095,17.6866967 0.959360209,17.663312 0.574,17.617517 C2.75364801,19.0152394 5.34155374,19.8298061 8.12189599,19.8298061 C17.1790789,19.8298061 22.1312742,12.327218 22.1312742,5.82042787 C22.1312742,5.60704257 22.1268896,5.39414445 22.1176332,5.18270787 C23.0793285,4.48993642 23.9143569,3.62226698 24.574,2.63475099 Z"/>
      </svg>
    </a>
    <a onclick="shareNative('<%= @resource.name %>', '<%= @resource.description %>', '<%= @resource.url.html_safe %>')" class="share-button" id="native" style="color: white">
      <svg height="25px" version="1.1" viewBox="0 0 64 64" width="25px" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" fill="currentColor" d="M48,39.26c-2.377,0-4.515,1-6.033,2.596L24.23,33.172c0.061-0.408,0.103-0.821,0.103-1.246c0-0.414-0.04-0.818-0.098-1.215  l17.711-8.589c1.519,1.609,3.667,2.619,6.054,2.619c4.602,0,8.333-3.731,8.333-8.333c0-4.603-3.731-8.333-8.333-8.333  s-8.333,3.73-8.333,8.333c0,0.414,0.04,0.817,0.098,1.215l-17.711,8.589c-1.519-1.609-3.666-2.619-6.054-2.619  c-4.603,0-8.333,3.731-8.333,8.333c0,4.603,3.73,8.333,8.333,8.333c2.377,0,4.515-1,6.033-2.596l17.737,8.684  c-0.061,0.407-0.103,0.821-0.103,1.246c0,4.603,3.731,8.333,8.333,8.333s8.333-3.73,8.333-8.333C56.333,42.99,52.602,39.26,48,39.26  z"/>
      </svg>
    </a>
    <script>  
      if(!navigator.share){
        console.log('Native Share not working')
        $('#native').remove();   
      };
    </script>
  </div>
    <a class="share-footer-bottom" onclick='copyToClipboard("<%= ENV['ROOT_URL'] %><%= @resource.url.html_safe %>")'>
      <img src="/images/share.svg" alt="Share">
      Link kopieren
    </a>
    <a class="share-footer-bottom" href='<%= ENV['ROOT_URL'] %><%= @resource.url.html_safe %>' target="_blank" >
      <img src="/images/open-link.svg" alt="Share">
      Webseite öffnen
    </a>
</div>
<script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val(element).select();
      document.execCommand("copy");
      $temp.remove();
    };
</script>