<%= render 'dashboard/shared/header3', header: 'Tickets bearbeiten'%>
<div class="container">
   <div id="ticketContainer">
      <%= form_for(Ticket.new, :html => {role: "form", id: "newticket"}, url: create_ticket_path) do |f| %>
        <h5 style="margin-bottom: 10px !important;">Neues Ticket</h5>
          <%= f.hidden_field :event_id, placeholder: 'Name', class: "form-control", value: @event.id %>
        <input type="text" name="container" value="ticketContainer" hidden>
          <div class="input-group input-group-sm" style="margin-bottom: 5px;">
            <%= f.text_field :name, placeholder: 'Name', class: "form-control" %>
          </div>
          <div class="input-group input-group-sm" style="margin-bottom: 5px;">
            <%= f.select(:status, Ticket.stati, {}, {class: "form-control"}) %>
          </div>
          <div class="input-group input-group-sm" style="margin-bottom: 5px; display: flex; flex-wrap: nowrap;">
            <%= f.number_field(:price, in: 0.00..10000.00, placeholder:'30,00', class:"form-control")%>
            <div class="input-group-append">
              <span class="input-group-text" style="font-size: 12px;" id="basic-addon2">€</span>
            </div>
          </div>
          <div class="input-group input-group-sm" style="margin-bottom: 5px;">
            <%= f.url_field :url, placeholder: 'Ticket Link', class: "form-control" %>
          </div>
          <div class="input-group">
            <%= f.submit "Ticket erstellen", class: "btn btn-primary" %>
          </div>
      <% end %>
      <% @tickets.each do |ticket| %>
        <div class="ticket-container" data-id="<%= ticket.id %>">
          <strong><%= ticket.name %></strong><br/>
          Status: <%= ticket.status %><br/>
          Preis: <%= ticket.price_str %><br/>
          Link: <%= ticket.url %>
          <%= button_to "x", destroy_ticket_path(:id => ticket.id), :method => :delete, data: { confirm: 'Sind Sie sich sicher?' }, :remote => true, class: "delete-ticket" %>
        </div>
      <% end %>
   </div>
</div>
<div class="footer">
  <a class="footer-link" id="button1">Aktualisieren</a>
</div>
<script>
  $('#button1').on('click', function(){
    $('#form1').submit();
  });
</script>
<script>
  $(document).ready(function(){
    $('#newticket').ajaxForm();
  })
</script>