<div style="max-height: 160px; overflow: scroll;">
<% @organizers.each do |resource| %>
  <a onclick="selectOrganizer(<%= resource.id %>, <%= @event %>)" class="search-result">
    <img src="<% if resource.profile_image_thumbnail.attached? %><%= url_for(resource.profile_image_thumbnail) %><% else %>/images/blurred-image-2.jpg<% end %>" alt="" class="search-result-img">
    <div>
      <h2><%= resource.name %></h2>
      <span class="subheader"><%= resource.category %></span>
    </div>
  </a>
<% end %>
</div>
<a onclick="newOrganizer()" id="newOrganizerButton">Veranstalter einladen</a>