<%= render 'dashboard/shared/header2', header: 'Events', link: @organizer.id, type: 'organizer' %>

<div class="container" style="overflow: hidden;">
  <h4 class="request-header">Bevorstehende Veranstaltungen</h4>
  <div class="<% if @own_events.any? %>event-slider<% end %>" id="teilnahmen" style="height: 223px; width: 100%; position: relative;">
    <% if !@own_events.any? %>
      <div class="event-slider-empty-state">
      </div>
    <% end %>
    <% @own_events.each do |event| %>
      <div class="preview-request" id="event<%= event.id %>">
        <div class="preview-request-inner">
          <a onclick="deleteThis('event', <%= event.id %>)" class="delete-button">
            <img src="/images/requests/delete.png" alt="Löschen">
          </a>
          <div>
            <h4><%= event.name %></h4>
            <p><%= event.time_str %><br/><%= event.location_name %>, <%= event.city %></p>
          </div>          
        </div>
        <img class="preview-request-img" src="<%= url_for(event.images.first) unless !event.images.attached? %>" alt="<%= event.name %>">
        <div class="request-buttons">
          <a href="/e/<%= event.id %>/statistiken">
            <img src="/images/requests/statistics.png" alt="Analytics" height="20px">
            <span>Statistiken</span>
          </a>
          <a onclick="editEvent(<%= event.id %>)">
            <img src="/images/requests/edit.png" alt="Bearbeiten" height="20px">
            <span>Bearbeiten</span>
          </a>
          <a onclick="shareThis('<%= event.name %>', '<%= event.description %>', 'https://<%= ENV['ROOT_URL'] %><%= event.url %>')">
            <img src="/images/requests/share.png" alt="Ansehen" height="19px">
            <span>Teilen</span>
          </a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="edit-event-default">
      <div class="edit-event-default-container">
        <div class="edit-event-default-head">
          <h3>Event bearbeiten</h3>
        </div>
        <a href="" id="editevent-informationen" class="edit-event-button">Generelle Informationen</a>
        <a href="" id="editevent-bilder" class="edit-event-button">Bilder</a>
        <a href="" id="editevent-socialmedia" class="edit-event-button">Social Media Links</a>
        <a href="" id="editevent-performer" class="edit-event-button">Performer</a>
        <a href="" id="editevent-plan" class="edit-event-button">Premium & Tickets</a>
        <a href="" id="editevent-delete" class="edit-event-button">Event löschen</a>
        <a onclick="closeEdit()" class="closeedit">Abbrechen</a>
      </div>
    </div>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
   $('.event-slider').slick({
      dots: false,
      infinite: false,
      speed: 300,
      slidesToShow: 1,
      variableWidth: true
    });
  
  function editEvent(index) {
    $('#editevent-informationen').attr('href', '/e/' + index + '/edit');
    $('#editevent-bilder').attr('href', '/e/' + index + '/edit_images');
    $('#editevent-socialmedia').attr('href', '/e/' + index + '/social_links');
    $('#editevent-performer').attr('href', '/e/' + index + '/performer');
    $('#editevent-plan').attr('href', '/e/' + index + '/premium');
    $('#editevent-delete').attr('onclick', 'deleteThis(' + index + ')');
    $('.edit-event-default').addClass('active');
    setTimeout(function(){
      $('.edit-event-default-container').addClass('active');
    }, 50);
  }
  
  function closeEdit() {
    $('.edit-event-default-container').removeClass('active');
    setTimeout(function(){
      $('.edit-event-default').removeClass('active');
    }, 500);
  }
  
  function deleteThis(type, index) {
    var sure = confirm("Sind Sie sicher?");
    if(sure == true){
      $.ajax({
        type: 'DELETE',
        url: '/' + type + '/delete/' + index,
        error: function(){
          alert('danger', 'Es ist ein Fehler aufgetretten. Bitte versuchen Sie es später erneut.')
        },	
      }).done(function(){
        $('#' + type + index).remove();
        alert('success', type.charAt(0).toUpperCase() + type.slice(1) + ' wurde erfolgreich gelöscht');
      });
   }
  }
</script>