<div class="share-buttons">
  <a href="whatsapp://send?text=Verifiziere <%= @performer.name %> auf Radr <%= ENV['ROOT_URL'] %>/verify-performer/<%= @performer.id %>" id="whatsapp" target="_blank">
    <img src="/images/Whatsapp@2x.png" alt="Whatsapp">
  </a>
  <a href="mailto:?subject=Verifiziere <%= @performer.name %> auf Radr&body=Verifizieren Sie Ihren Veranstaltungsort auf Radr <%= ENV['ROOT_URL'] %>/verify-performer/<%= @performer.id %>" id="mail">
    <img src="/images/Mail@2x.png" alt="">
  </a>
  <a onclick="shareNative('Verifiziere <%= @performer.name %> auf Radr', 'Jetzt Akkount auf Radr erstellen', '<%= ENV['ROOT_URL'] %>/verify-performer/<%= @performer.id %>')" id="native" style="color: white; width: 50px; height: 50px; border-radius: 25px; background: #FF3366; padding: 10px 11px 10px 9px;" > 
    <svg height="25px" version="1.1" viewBox="0 0 64 64" width="25px" xmlns="http://www.w3.org/2000/svg">
       <path fill-rule="evenodd" fill="currentColor" d="M48,39.26c-2.377,0-4.515,1-6.033,2.596L24.23,33.172c0.061-0.408,0.103-0.821,0.103-1.246c0-0.414-0.04-0.818-0.098-1.215  l17.711-8.589c1.519,1.609,3.667,2.619,6.054,2.619c4.602,0,8.333-3.731,8.333-8.333c0-4.603-3.731-8.333-8.333-8.333  s-8.333,3.73-8.333,8.333c0,0.414,0.04,0.817,0.098,1.215l-17.711,8.589c-1.519-1.609-3.666-2.619-6.054-2.619  c-4.603,0-8.333,3.731-8.333,8.333c0,4.603,3.73,8.333,8.333,8.333c2.377,0,4.515-1,6.033-2.596l17.737,8.684  c-0.061,0.407-0.103,0.821-0.103,1.246c0,4.603,3.731,8.333,8.333,8.333s8.333-3.73,8.333-8.333C56.333,42.99,52.602,39.26,48,39.26  z"/>
     </svg>
  </a>
</div>
<a onclick="dontVerifyPerformer()">Nicht verifizieren</a>
<script>
  if(!navigator.share){
      console.log('Native Share not working')
      $('#native').remove();   
    };
</script>