<%= render 'dashboard/shared/header2', header: 'Events', link: @performer.id, type: 'performer' %>
<div class="container">
  <% @events.each do |event| %>
  <div class="card">
    <a href="/e/<%= event.id %>/edit-images" class="card-img-top edit-image">
      <img src="<% if event.images_thumbnail.attached?  %><%= url_for(event.images_thumbnail) %><% else %>/images/blurred-image.jpg<% end %>" alt="<%= event.name %>">
    </a>
    <div class="card-body">
      <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%;"><%= event.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= event.time_str %></h6>   
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="padding: 12px 10px"><a href="/e/<%= event.id %>/edit" class="card-link">Bearbeiten</a></li>
      <li class="list-group-item" style="padding: 12px 10px"><a href="/e/<%= event.id %>/tickets" class="card-link">Ticketoptionen</a></li>
      <li class="list-group-item" style="padding: 12px 10px"><a href="/e/<%= event.id %>/share" class="card-link">Link teilen</a></li>
    </ul>
  </div>
  <% end %>
</div>
<a href="/neues-event" id="image-upload">  
  <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
  <svg height="32px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="white" d="M417.4,224H288V94.6c0-16.9-14.3-30.6-32-30.6c-17.7,0-32,13.7-32,30.6V224H94.6C77.7,224,64,238.3,64,256  c0,17.7,13.7,32,30.6,32H224v129.4c0,16.9,14.3,30.6,32,30.6c17.7,0,32-13.7,32-30.6V288h129.4c16.9,0,30.6-14.3,30.6-32  C448,238.3,434.3,224,417.4,224z"/></svg>
</a>