<nav class="radr-navbar">
    <a id="back" href="/" style="display: none">      
      <svg width="10px" height="20px" viewBox="0 0 12 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-19.000000, -20.000000)" stroke="#000000">
                  <polyline points="30 20 20 30 30 40"></polyline>
              </g>
          </g>
      </svg>
    </a>
  
    <div class="dropdown-container">
      <span>        
          <svg width="16px" height="9px" viewBox="0 0 16 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin-right: 5px;">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-114.000000, -26.000000)" fill="#000000" fill-rule="nonzero">
                      <g transform="translate(114.000000, 18.000000)">
                          <g transform="translate(8.000000, 12.500000) rotate(90.000000) translate(-8.000000, -12.500000) translate(3.500000, 5.000000)">
                              <polygon points="0 0.909375 0.9703125 0 9 7.5 0.9703125 15 0 14.0953125 7.0546875 7.5"></polygon>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
          <div id="profile-name"><%= @profile.name %></div>
        </span>
      <div class="dropdown">
        <ul class="dropdown-inner">
          <% @user.locations.each do |location| %>
            <li><%= button_to location.name, show_location_path(:id => location.id), :method => :get, :remote => true %></li>
          <% end %>
          <% @user.performers.each do |performer| %>
            <li><%= button_to performer.name, show_performer_path(:id => performer.id), :method => :get, :remote => true %></li>
          <% end %>
          <% @user.organizers.each do |organizer| %>
            <li><%= button_to organizer.name, show_organizer_path(:id => organizer.id), :method => :get, :remote => true %></li>
          <% end %>
          <li><a data-type="inbound-link" href="/neue-location">Location erstellen</a></li>
          <li><a data-type="inbound-link" href="/neuer-performer">Performer erstellen</a></li>
          <li><a data-type="inbound-link" href="/neuer-organizer">Veranstalter erstellen</a></li>
        </ul>
      </div>
    </div>
  
      <div class="menu">
        <div id="hamburger" class="hamburger-icon-container">                        
          <span id="top"></span>
          <span id="midleft"></span>
          <span id="midright"></span>
          <span id="bottom"></span>
        </div>
        
        <ul>
          <li><a data-type="inbound-link" href="/">Dashboard</a></li>
          <li><a data-type="inbound-link" href="/neue-location">Location erstellen</a></li>
          <li><a data-type="inbound-link" href="/statistiken">Statistiken</a></li>
          <li><a data-type="inbound-link" href="/einstellungen">Einstellungen</a></li>
          <li><%= link_to "Abmelden", destroy_user_session_path, :method => :delete %></li>
        </ul>
        
      </div>
</nav>
<script>
  $('#hamburger').on('click', function(){
    $('.menu').toggleClass('active');
  });
  
  $('.dropdown-container span').on('click', function(){
    if($('.dropdown-container').hasClass('active')) {    
      $('.dropdown-inner').slideUp();
      setTimeout(function () {      
         $('.dropdown-container').removeClass('active')       
      }, 350);
    } else {
      $('.dropdown-container').addClass('active');
      $('.dropdown-inner').slideDown().delay(300);
  }});
</script>