<div class="card-body">
  <div class="card-head">
    <div>
      <h1><%= @resource.name %></h1>
      <span class="subheader"><%= @resource.category %></span>
    </div>
    <a href="" class="social-button">
      <img src="/images/facebook.svg" alt="Facebook Event">
    </a>
  </div>
  <%= render "public_view/shared/opening_hours" %>
  <%= render "public_view/shared/description" %>
  <%= render "public_view/shared/map" %>
  <%= render "public_view/shared/upcoming_events", locals: {resource: @resource.events.upcoming, heading: 'Kommende Veranstaltungen'} %>
</div>