<!DOCTYPE html>
<html lang="de" >
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
    <%= render 'application/favicon' %>
    <%= render 'application/meta' %>
    <%= render 'application/tag_manager' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/main-v11.css">
    <meta name="theme-color" content="#000000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <link rel="preconnect" href="https://events.mapbox.com">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://api.mapbox.com">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSNLS2Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
    <div class="share-default">
      <div class="share-default-container">
        <div class="share-default-head">
          <h3>Seite teilen</h3>
        </div>
        <a href="" id="facebookshare" class="sharebutton" target="_blank"><div><img src="/images/facebook.svg" alt="Facebook" target="_blank" rel="noreferrer"></div> Auf Facebook teilen</a>
        <a href="" id="messengershare" class="sharebutton"><div><img src="/images/messenger.svg" alt="Messenger" target="_blank" rel="noreferrer"></div> Im Messenger teilen</a>
        <a href="" id="twittershare" class="sharebutton"><div><img src="/images/twitter.svg" alt="Twitter" target="_blank" rel="noreferrer"></div> Auf Twitter teilen</a>
        <a href="" id="whatsappshare" class="sharebutton"><div><img src="/images/whatsapp.svg" alt="Whatsapp" target="_blank" rel="noreferrer"></div> Auf Whatsapp teilen</a>
        <a onclick="copyToClipboard()" id="linkshare" class="sharebutton"><div><img src="/images/share.svg" alt="Link kopieren"></div> Link kopieren</a>
        <a onclick="closeShareDefault()" class="closeshare">Abbrechen</a>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <form action="/page-view" method="post" id="pageview" hidden>
    <input type="text" name="referrer" id="pv_referrer">
    <input type="text" name="params" id="pv_params">
    <input type="text" name="path" id="pv_path">
    <input type="text" name="session_token" id="pv_session_token">
    <input type="text" name="user_agent" id="pv_user_agent">
    <input type="text" name="user_id" id="pv_user_id">
  </form>
  <script> 
  // Description  
  $(document).ready(function(){
    if($('#description > p').outerHeight() > 100){
      $('#description').addClass('description-container');
      $('.description-container').on('click', function(){
        $(this).toggleClass('open');
      });
  }});
  
   //Opening Hours 
   $('#openinghours').on('click', function(){
     $('.oh-body').slideToggle();
     $('#openinghours > .oh-button').toggleClass('open');
   });
  
  //Events  
  $('.preview').mouseover(function(){
    if (!navigator.userAgent.includes('iPhone') || !navigator.userAgent.includes('Android')) {
        $(this).children().toggleClass('hover');
  }});
  $('.preview').mouseout(function(){
    if (!navigator.userAgent.includes('iPhone') || !navigator.userAgent.includes('Android')) {
        $(this).children().toggleClass('hover');
  }});

  // Scroll Animation
  $(document).ready(function(){  
    $(window).scroll(function(){
          var scroll = $(this).scrollTop();
          if(scroll < 0) {
            var scale = (scroll/120) * (-1) + 1;
            $('.cover-slick').css('transform', 'scale(' + scale + ')');
          } else if(scroll > 0) {
            var scale = (scroll / 20 * (-2));
            $('.cover-slick').css('top', scale );
        }});

      $(window).scroll(function(){
          var scroll = $(this).scrollTop();
          if(scroll < 0) {
            var scale = (scroll/400) * (-1) + 1;
            $('.performer-image').css('transform', 'scale(' + scale + ')');
            $('.performer-image').css('margin-top', scroll * (-0.4) + 'px');
          } else if(scroll > 0) {
            var scale = (scroll/300) * (-1) + 1;
            var fade = 1 - (scroll/500);
            $('.performer-image').css('transform', 'scale(' + scale + ')');
            $('.performer-image').css('margin-top', scroll * (-0.4) + 'px');
            $('.performer-image').css('opacity', fade);
        }});
  });
    //Inbound Link
    $('[data-type="inbound-link"]').on('click', function(event){
      event.preventDefault();
      var href = $(this).attr('href') + '?from=' + window.location.pathname;
      window.location.href = href;
    });
  
      //Back Link
      var thisurl = new URL(document.location.href);
      var from = thisurl.searchParams.get("from");
      if (from !== null) {
        $('#back').attr("href", from)
        $('#back').css('display', 'inline-block');
      }
  
    function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
    }

    if(navigator.userAgent.includes('iPhone') || navigator.userAgent.includes('Android')) {
      $('.preview-inner').addClass('hover');
    }
    
    //Sharing
    $('document').ready(function(){
      $('#facebookshare').attr('href', 'https://www.facebook.com/sharer/sharer.php?u=' + window.location.origin + window.location.pathname + "?f=share");
      $('#messengershare').attr('href', 'fb-messenger://share/?link=' + window.location.origin + window.location.pathname + "?f=share");
      $('#twittershare').attr('href', 'https://twitter.com/share?text=Sieh dir <% if @type == 'Event' %>dieses<% elsif @type == 'Location' %>diese<% else %>diesen<% end %><%= @type %> an ' + window.location.origin + window.location.pathname + "?f=share");
      $('#whatsappshare').attr('href', 'whatsapp://send/?text=Sieh dir dieses <% if @type == 'Event' %>dieses<% elsif @type == 'Location' %>diese<% else %>diesen<% end %><%= @type %> an ' + window.location.origin + window.location.pathname + "?f=share");
    });
    
    $('.share-default-container a').on('click', function(){
      closeShareDefault();
    });
   
   function loadSlick() {
      $('.cover-slick').slick({
        lazyLoad: 'ondemand',
        speed: 300,
        fade: true,
        cssEase: 'linear'
      });
     
       $('.slick-carousel').slick({
        dots: false,
        infinite: false,
        slidesToScroll: 1,
        slidesToShow: 1,
        variableWidth: true,
        speed: 300
      });
     
     $('.slick-current > .big-img').attr('src', $('.slick-current > .big-img').data('image'));
     
      $('.cover-slick').on('afterChange', function(event, slick, currentSlide, nextSlide){
        $('.slick-current > .big-img').attr('src', $('.slick-current > .big-img').data('image'));
      });
    } 
      
    function loadUnveil() {
      $("img").unveil();
      $("iframe").unveil();
    }
      
    function shareThisPage() {
      if(!navigator.share) {
        shareDefault();
      } else {
        shareNative();
      }
    }

    const getOpenGraphData = function (property) {
          return document.querySelector(`meta[property="${property}"]`).getAttribute('content')
    };
    
    function shareDefault(){
      $('.share-default').addClass('active');
      setTimeout(function(){
        $('.share-default-container').addClass('active');
      }, 50);
    }
    
    function closeShareDefault(){
      
      $('.share-default-container').removeClass('active');
      setTimeout(function(){
        $('.share-default').removeClass('active');
      }, 500);
    }
    
    function shareNative(){
      navigator.share({
          title: getOpenGraphData('og:title'),
          text: getOpenGraphData('og:description'),
          url: window.location.origin + window.location.pathname + "?from=share"
      }).then(() => {
          // webShareTestEl.children[0].innerText = 'done';
          // resetButton();
      })
      .catch(error => {
              console.log('Error sharing:', error);

              // webShareTestEl.children[0].innerText = 'error';
              // resetButton();
      });
    }
    
    function copyToClipboard() {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val(window.location.origin + window.location.pathname + '?from=share').select();
      document.execCommand("copy");
      $temp.remove();
      alert('In die Zwischenablage kopiert.')
    }
  </script>
  <script id="mapboxjs" src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js' async defer onload="loadMap()"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" async defer onload="loadSlick()" ></script>
  <script type="text/javascript" src="/jquery.unveil.js" async onload="loadUnveil()" ></script>
  <% if @ua == 'desktop' %>
  <link rel="stylesheet" href="https://use.typekit.net/roz0mei.css" async defer onload="$('body').addClass('font-loaded');">
  <% end %>
  <script>
  // PageView
    var url_string = window.location.href;
    var url = new URL(url_string);
    var f = url.searchParams.get("f");
    $('#pv_referrer').val(document.referrer);
    $('#pv_params').val(f);
    $('#pv_path').val(document.location.pathname);
    $('#pv_session_token').val(readCookie("session_token"));
    $('#pv_user_agent').val(navigator.userAgent);
    $('#pv_user_id').val(<%= @user.id %>);

    $(document).ready(function(){
      $.ajax({
          type: 'POST',
          url: '/pageview',
          data: $("#pageview").serialize(),
          error: function(){
          }	
      });   
    });
  </script>
</html>
