<!DOCTYPE html>
<html lang="de" >
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
    <%= render 'application/favicon' %>
    <%= render 'application/meta' %>
    <%= render 'application/tag_manager' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/roz0mei.css">
    <link rel="preconnect" href="https://youtube.com">
    <meta name="theme-color" content="#000000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSNLS2Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
    <div class="share-default">
      <div class="share-default-container">
        <div class="share-default-head">
          <h3>Seite teilen</h3>
        </div>
        <a href="" id="facebookshare" class="sharebutton" target="_blank"><div><img src="/images/facebook.svg" alt="Facebook" target="_blank"></div> Auf Facebook teilen</a>
        <a href="" id="messengershare" class="sharebutton"><div><img src="/images/messenger.svg" alt="Messenger" target="_blank"></div> Im Messenger teilen</a>
        <a href="" id="twittershare" class="sharebutton"><div><img src="/images/twitter.svg" alt="Twitter" target="_blank"></div> Auf Twitter teilen</a>
        <a href="" id="whatsappshare" class="sharebutton"><div><img src="/images/whatsapp.svg" alt="Whatsapp" target="_blank"></div> Auf Whatsapp teilen</a>
        <a onclick="copyToClipboard()" id="linkshare" class="sharebutton"><div><img src="/images/share.svg" alt="Link kopieren"></div> Link kopieren</a>
        <a onclick="closeShareDefault()" class="closeshare">Abbrechen</a>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="/jquery.unveil.js"></script>
  <script>
  $(document).ready(function() {
    $(".coverimage").unveil();
  });
    
  var iframes = $('iframe');

  $(document).ready(function() {
      iframes.attr('src', function() {
          return $(this).data('src');
      });
  });

  iframes.attr('data-src', function() {
      var src = $(this).attr('src');
      $(this).removeAttr('src');
      return src;
  });
</script>
  <script>
  $(document).ready(function(){
    if($('#description > p').outerHeight() > 100){
      $('#description').addClass('description-container');
      $('.description-container').on('click', function(){
        $(this).toggleClass('open');
      });
  }});
  
   $('#openinghours').on('click', function(){
     $('.oh-body').slideToggle();
     $('#openinghours > .oh-button').toggleClass('open');
   });
  
  $('.slick-carousel').slick({
      dots: false,
      infinite: false,
      slidesToScroll: 1,
      slidesToShow: 1,
      variableWidth: true,
      speed: 300,
      slidesToShow: 1
    });
  
  $('.preview').mouseover(function(){
    if (!navigator.userAgent.includes('iPhone') || !navigator.userAgent.includes('Android')) {
        $(this).children().toggleClass('hover');
  }});
  $('.preview').mouseout(function(){
    if (!navigator.userAgent.includes('iPhone') || !navigator.userAgent.includes('Android')) {
        $(this).children().toggleClass('hover');
  }});
</script>
  <script>
  $(window).scroll(function(){
        var scroll = $(this).scrollTop();
        if(scroll < 0) {
          var scale = (scroll/120) * (-1) + 1;
          $('.cover-slick').css('transform', 'scale(' + scale + ')');
        } else if(scroll > 0) {
          var scale = (scroll / 20 * (-2));
          $('.cover-slick').css('top', scale );
      }});
  $('.cover-slick').slick({
      speed: 300,
      fade: true,
      cssEase: 'linear'
    });
</script>
  <script>
    $('[data-type="inbound-link"]').on('click', function(event){
      event.preventDefault();
      var href = $(this).attr('href') + '?from=' + window.location.pathname;
      window.location.href = href;
    });
  </script>
  <script>
      var thisurl = new URL(document.location.href);
      var from = thisurl.searchParams.get("from");
      if (from !== null) {
        $('#back').attr("href", from)
        $('#back').css('display', 'inline-block');
      }
  </script>
  <form action="/page-view" method="post" id="pageview" hidden>
    <input type="text" name="referrer" id="pv_referrer">
    <input type="text" name="params" id="pv_params">
    <input type="text" name="path" id="pv_path">
    <input type="text" name="session_token" id="pv_session_token">
    <input type="text" name="user_agent" id="pv_user_agent">
    <input type="text" name="user_id" id="pv_user_id">
  </form>
  <script>
    var url_string = window.location.href;
    var url = new URL(url_string);
    var f = url.searchParams.get("f");
    $('#pv_referrer').val(document.referrer);
    $('#pv_params').val(f);
    $('#pv_path').val(document.location.pathname);
    $('#pv_session_token').val(readCookie("session_token"));
    $('#pv_user_agent').val(navigator.userAgent);
    $('#pv_user_id').val(<%= @user.id %>);

    $(document).ready(function(){
      $.ajax({
          type: 'POST',
          url: '/pageview',
          data: $("#pageview").serialize(),
          error: function(){
          }	
      });   
    });


    function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
    }
  </script>
  <script>
    $(window).scroll(function(){
        var scroll = $(this).scrollTop();
        if(scroll < 0) {
          var scale = (scroll/400) * (-1) + 1;
          $('.performer-image').css('transform', 'scale(' + scale + ')');
          $('.performer-image').css('margin-top', scroll * (-0.4) + 'px');
        } else if(scroll > 0) {
          var scale = (scroll/250) * (-1) + 1;
          var fade = 1 - (scroll/200);
          $('.performer-image').css('transform', 'scale(' + scale + ')');
          $('.performer-image').css('margin-top', scroll * (-0.4) + 'px');
          $('.performer-image').css('opacity', fade);
      }});
</script>
  <script>
    if(navigator.userAgent.includes('iPhone') || navigator.userAgent.includes('Android')) {
      $('.preview-inner').addClass('hover');
    }
</script>    
  <script>
    
    $('document').ready(function(){
      $('#facebookshare').attr('href', 'https://www.facebook.com/sharer/sharer.php?u=' + window.location.origin + window.location.pathname + "?from=share");
      $('#messengershare').attr('href', 'fb-messenger://share/?link=' + window.location.origin + window.location.pathname + "?from=share");
      $('#twittershare').attr('href', 'https://twitter.com/share?text=Sieh dir <% if @type == 'Event' %>dieses<% elsif @type == 'Location' %>diese<% else %>diesen<% end %><%= @type %> an ' + window.location.origin + window.location.pathname + "?from=share");
      $('#whatsappshare').attr('href', 'whatsapp://send/?text=Sieh dir dieses <% if @type == 'Event' %>dieses<% elsif @type == 'Location' %>diese<% else %>diesen<% end %><%= @type %> an ' + window.location.origin + window.location.pathname + "?from=share");
    });
    
    $('.share-default-container a').on('click', function(){
      closeShareDefault();
    });
   
    function shareThisPage() {
      if(!navigator.share) {
        shareDefault();
      } else {
        shareNative();
      }
    }

    const getOpenGraphData = function (property) {
          return document.querySelector(`meta[property="${property}"]`).getAttribute('content')
    };
    
    function shareDefault(){
      $('.share-default').addClass('active');
      setTimeout(function(){
        $('.share-default-container').addClass('active');
      }, 50);
    }
    
    function closeShareDefault(){
      
      $('.share-default-container').removeClass('active');
      setTimeout(function(){
        $('.share-default').removeClass('active');
      }, 500);
    }
    
    function shareNative(){
      navigator.share({
          title: getOpenGraphData('og:title'),
          text: getOpenGraphData('og:description'),
          url: window.location.origin + window.location.pathname + "?from=share"
      }).then(() => {
          // webShareTestEl.children[0].innerText = 'done';
          // resetButton();
      })
      .catch(error => {
              console.log('Error sharing:', error);

              // webShareTestEl.children[0].innerText = 'error';
              // resetButton();
      });
    }
    
    function copyToClipboard() {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val(window.location.origin + window.location.pathname + '?from=share').select();
      document.execCommand("copy");
      $temp.remove();
      alert('In die Zwischenablage kopiert.')
    };

  </script>
</html>
