<!DOCTYPE html>
<html lang="de" >
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=no" />
    <link rel="stylesheet" href="https://use.typekit.net/roz0mei.css">
    <%= render 'application/favicon' %>
    <%= render 'application/meta' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
     <meta name="theme-color" content="#000000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript" src="/jquery.unveil.js"></script>
  <script>
  $(document).ready(function() {
    $(".coverimage").unveil();
  });
    
  var iframes = $('iframe');

  $(document).ready(function() {
      iframes.attr('src', function() {
          return $(this).data('src');
      });
  });

  iframes.attr('data-src', function() {
      var src = $(this).attr('src');
      $(this).removeAttr('src');
      return src;
  });
</script>
<form action="/page-view" method="post" id="pageview" hidden>
  <input type="text" name="referrer" id="pv_referrer">
  <input type="text" name="params" id="pv_params">
  <input type="text" name="path" id="pv_path">
  <input type="text" name="session_token" id="pv_session_token">
  <input type="text" name="user_agent" id="pv_user_agent">
  <input type="text" name="user_id" id="pv_user_id">
</form>
<script>
  var url_string = "http://www.example.com/t.html?a=1&b=3&c=m2-m3-m4-m5"; //window.location.href
  var url = new URL(url_string);
  if (url.searchParams.get("f") != null) {
    var f = url.searchParams.get("f");
  } else {
    var f = ""
  }
  $('#pv_referrer').val(document.referrer);
  $('#pv_params').val(f);
  $('#pv_path').val(document.location.pathname);
  $('#pv_session_token').val(readCookie("session_token"));
  $('#pv_user_agent').val(navigator.userAgent);
  $('#pv_user_id').val(<%= @user.id %>);
  
  $(document).ready(function(){
    $.ajax({
        type: 'POST',
        url: '/pageview',
        data: $("#pageview").serialize(),
        error: function(){
        }	
    });   
  });
  
    
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }
</script>
</html>
