<!DOCTYPE html>
<html lang="de" >
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" />
    <%= render 'application/favicon' %>
    <%= render 'application/meta' %>
    <%= render 'application/tag_manager' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/pvmobile.css">
    <link rel="stylesheet" href="https://use.typekit.net/roz0mei.css">
    <link rel="preconnect" href="https://youtube.com">
    <link rel="preconnect" href="https://google.com">
    <meta name="theme-color" content="#000000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSNLS2Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="/jquery.unveil.js"></script>
  <script>
  $(document).ready(function() {
    $(".coverimage").unveil();
  });
    
  var iframes = $('iframe');

  $(document).ready(function() {
      iframes.attr('src', function() {
          return $(this).data('src');
      });
  });

  iframes.attr('data-src', function() {
      var src = $(this).attr('src');
      $(this).removeAttr('src');
      return src;
  });
</script>
  <script>
  $(document).ready(function(){
    if($('#description > p').outerHeight() > 100){
      $('#description').addClass('description-container');
      $('.description-container').on('click', function(){
        $(this).toggleClass('open');
      });
  }});
  
   $('#openinghours').on('click', function(){
     $('.oh-body').slideToggle();
     $('#openinghours > .oh-button').toggleClass('open');
   });
  
  $('.slick-carousel').slick({
      dots: false,
      infinite: false,
      slidesToScroll: 1,
      slidesToShow: 1,
      variableWidth: true,
      speed: 300,
      slidesToShow: 1
    });
  
  $('.preview').mouseover(function(){
    if (!navigator.userAgent.includes('iPhone') || !navigator.userAgent.includes('Android')) {
        $(this).children().toggleClass('hover');
  }});
  $('.preview').mouseout(function(){
    if (!navigator.userAgent.includes('iPhone') || !navigator.userAgent.includes('Android')) {
        $(this).children().toggleClass('hover');
  }});
</script>
  <script>
  $(window).scroll(function(){
        var scroll = $(this).scrollTop();
        if(scroll < 0) {
          var scale = (scroll/120) * (-1) + 1;
          $('.cover-slick').css('transform', 'scale(' + scale + ')');
        } else if(scroll > 0) {
          var scale = (scroll / 20 * (-2));
          $('.cover-slick').css('top', scale );
      }});
  $('.cover-slick').slick({
      speed: 300,
      fade: true,
      cssEase: 'linear'
    });
</script>
  <script>
    $('[data-type="inbound-link"]').on('click', function(event){
      event.preventDefault();
      var href = $(this).attr('href') + '?from=' + window.location.pathname;
      window.location.href = href;
    });
  </script>
  <script>
      var thisurl = new URL(document.location.href);
      var from = thisurl.searchParams.get("from");
      if (from !== null) {
        $('#back').attr("href", from)
        $('#back').css('display', 'inline-block');
      }
  </script>
  <form action="/page-view" method="post" id="pageview" hidden>
    <input type="text" name="referrer" id="pv_referrer">
    <input type="text" name="params" id="pv_params">
    <input type="text" name="path" id="pv_path">
    <input type="text" name="session_token" id="pv_session_token">
    <input type="text" name="user_agent" id="pv_user_agent">
    <input type="text" name="user_id" id="pv_user_id">
  </form>
  <script>
    var url_string = window.location.href;
    var url = new URL(url_string);
    var f = url.searchParams.get("f");
    $('#pv_referrer').val(document.referrer);
    $('#pv_params').val(f);
    $('#pv_path').val(document.location.pathname);
    $('#pv_session_token').val(readCookie("session_token"));
    $('#pv_user_agent').val(navigator.userAgent);
    $('#pv_user_id').val(<%= @user.id %>);

    $(document).ready(function(){
      $.ajax({
          type: 'POST',
          url: '/pageview',
          data: $("#pageview").serialize(),
          error: function(){
          }	
      });   
    });


    function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
    }
  </script>
  <script>
    $(window).scroll(function(){
        var scroll = $(this).scrollTop();
        if(scroll < 0) {
          var scale = (scroll/400) * (-1) + 1;
          $('.performer-image').css('transform', 'scale(' + scale + ')');
          $('.performer-image').css('margin-top', scroll * (-0.4) + 'px');
        } else if(scroll > 0) {
          var scale = (scroll/250) * (-1) + 1;
          var fade = 1 - (scroll/200);
          $('.performer-image').css('transform', 'scale(' + scale + ')');
          $('.performer-image').css('margin-top', scroll * (-0.4) + 'px');
          $('.performer-image').css('opacity', fade);
      }});
</script>
<script>
    if(navigator.userAgent.includes('iPhone') || navigator.userAgent.includes('Android')) {
      $('.preview-inner').addClass('hover');
    }
</script>    
</html>
