<!DOCTYPE html>
<html lang="de" >
  <head>
    <title>Radr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <link rel="stylesheet" href="https://use.typekit.net/roz0mei.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link  href="/datepicker/datepicker.css" rel="stylesheet">    
    <link rel="stylesheet" href="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
    <script src="https://js.stripe.com/v3/"></script>
    <link href="https://unpkg.com/dropzone/dist/dropzone.css" rel="stylesheet"/>
    <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>
    <link href="https://unpkg.com/croppie/croppie.css" rel="stylesheet"/>
    <%= render 'application/favicon' %>
    <%= render 'application/tag_manager' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNAXfMrJDNWqcq8bW6OhWgZd6XUi-F1UI&libraries=places"></script>
    <script src="/jquery.geocomplete.min.js"></script>
  </head>
  <body class="dashboard">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSNLS2Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script>
      $(document).ready(function(){
        alert('notice', '<%= notice %>');
        alert('danger', '<%= alert %>');
      });
    </script>
    <%= yield %>
    <script>
      $('[data-type="inbound-link"]').on('click', function(event){
        event.preventDefault();
        if $(this).attr('href').includes('?') {
          var href = $(this).attr('href') + '&from=' + window.location.pathname;                             
        } else {
          var href = $(this).attr('href') + '?from=' + window.location.pathname;
        } 
        window.location.href = href;
      });
    </script>
    <script>
        var thisurl = new URL(document.location.href);
        var from = thisurl.searchParams.get("from");
        if (from !== null) {
          $('#back').attr("href", from)
          $('#back').css('display', 'block');
        }
    </script>
    <script src="/datepicker/datepicker.js"></script>    
    <script src="/jquery.form.min.js"></script>
  </body>
</html>
